.fade-in {
  transition: opacity 0.5s ease;
  animation: textIn 0.5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
  animation: textOut 1s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes textOut {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);

  }
}