.fade-in {
  transition: opacity 0.5s ease;
  animation: slideIn 0.5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
  animation: slideOut 1s ease;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);

  }
}